<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>collection</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">collection</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- section start -->
<section class="section-b-space ratio_asos">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 collection-filter">
                    <!-- side-bar colleps block stat -->
                    <div class="collection-filter-block">
                        <!-- brand laptop filter start -->
                        <div class="collection-mobile-back">
                            <span class="filter-back">
                                <i class="fa fa-angle-left"
                                   aria-hidden="true"></i> back
                            </span>
                        </div>
                        <div class="collection-collapse-block open">
                            <h3 class="collapse-block-title">brand</h3>
                            <div class="collection-collapse-block-content">
                                <div class="collection-brand-filter">
                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-brand" data-value="Apple" id="brand-apple">
                                        <label class="custom-control-label" for="brand-apple">Apple</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-brand" data-value="Dell" id="brand-dell">
                                        <label class="custom-control-label" for="brand-dell">Dell</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-brand" data-value="Lenovo" id="brand-lenovo">
                                        <label class="custom-control-label" for="brand-lenovo">Lenovo</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-brand" data-value="HP" id="brand-hp">
                                        <label class="custom-control-label" for="brand-hp">HP</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-brand" data-value="Huawei" id="brand-huawei">
                                        <label class="custom-control-label" for="brand-huawei">Huawei</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-brand" data-value="Acer" id="brand-acer">
                                        <label class="custom-control-label" for="brand-acer">Acer</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-brand" data-value="Asus" id="brand-asus">
                                        <label class="custom-control-label" for="brand-asus">Asus</label>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        <!-- laptop type filter start here -->
                        <div class="collection-collapse-block open">
                            <h3 class="collapse-block-title">Laptop Type</h3>
                            <div class="collection-collapse-block-content">
                                <div class="collection-brand-filter">

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-type" data-value="Ultrabook" id="type-ultrabook">
                                        <label class="custom-control-label" for="type-ultrabook">Ultrabook</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-type" data-value="Gaming" id="type-gaming">
                                        <label class="custom-control-label" for="type-gaming">Gaming</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-type" data-value="2In1 Convertible" id="type-2in1">
                                        <label class="custom-control-label" for="type-2in1">2-in-1 Convertible</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-type" data-value="Workstation" id="type-workstation">
                                        <label class="custom-control-label" for="type-workstation">Workstation</label>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- laptop OS filter start here -->
                        <div class="collection-collapse-block open">
                            <h3 class="collapse-block-title">Operating System</h3>
                            <div class="collection-collapse-block-content">
                                <div class="collection-brand-filter">

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-os" data-value="Windows 10" id="os-win10">
                                        <label class="custom-control-label" for="os-win10">Windows 10</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-os" data-value="Windows 11" id="os-win11">
                                        <label class="custom-control-label" for="os-win11">Windows 11</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-os" data-value="macOS" id="os-macos">
                                        <label class="custom-control-label" for="os-macos">macOS</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-os" data-value="Linux" id="os-linux">
                                        <label class="custom-control-label" for="os-linux">Linux</label>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--Laptop Processor filter start here -->
                        <div class="collection-collapse-block open">
                            <h3 class="collapse-block-title">Processor</h3>
                            <div class="collection-collapse-block-content">
                                <div class="collection-brand-filter">

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-cpu" data-value="Core i3" id="cpu-i3">
                                        <label class="custom-control-label" for="cpu-i3">Core i3</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-cpu" data-value="Core i5" id="cpu-i5">
                                        <label class="custom-control-label" for="cpu-i5">Core i5</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-cpu" data-value="Core i7" id="cpu-i7">
                                        <label class="custom-control-label" for="cpu-i7">Core i7</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-cpu" data-value="Core i9" id="cpu-i9">
                                        <label class="custom-control-label" for="cpu-i9">Core i9</label>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--Laptop Ram filter start here-->
                        <div class="collection-collapse-block open">
                            <h3 class="collapse-block-title">RAM</h3>
                            <div class="collection-collapse-block-content">
                                <div class="collection-brand-filter">

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-ram" data-value="4" id="ram-4">
                                        <label class="custom-control-label" for="ram-4">4 GB</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-ram" data-value="8" id="ram-8">
                                        <label class="custom-control-label" for="ram-8">8 GB</label>
                                    </div>

                                    <div class="custom-control custom-checkbox collection-filter-checkbox">
                                        <input type="checkbox" class="custom-control-input filter-ram" data-value="16" id="ram-16">
                                        <label class="custom-control-label" for="ram-16">16 GB</label>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Laptop price filter start here -->
                        <div class="collection-collapse-block open">
                            <h3 class="collapse-block-title">Price</h3>
                            <div class="collection-collapse-block-content">
                                <input type="number" class="form-control mb-2" id="minPrice" placeholder="Min Price">
                                <input type="number" class="form-control" id="maxPrice" placeholder="Max Price">
                            </div>
                        </div>

                    </div>
                    <!-- side-bar banner start here -->
                    <div class="collection-sidebar-banner">
                        <a href="#"><img src="../assets/images/side-banner.png" class="img-fluid blur-up lazyload" alt=""></a>
                    </div>
                    <!-- side-bar banner end here -->
                </div>
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="top-banner-wrapper">
                                    <a href="#"><img src="../assets/images/mega-menu/2.jpg" class="img-fluid blur-up lazyload" alt=""></a>
                                    <div class="top-banner-content small-section">
                                        <h4>All Laptops</h4>
                                        <h5>
                                            Browse all available laptops and use the filters to quickly find the device that suits your needs.
                                        </h5>
                                        <p>
                                            LapAdvisor provides a complete list of laptops from trusted brands, covering different performance levels, price ranges, and use cases.
                                            You can filter products by brand, laptop type, operating system, and other specifications to easily compare options and make an informed decision.
                                        </p>
                                    </div>
                                </div>
                                <div class="collection-product-wrapper">
                                    <div class="product-top-filter">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="filter-main-btn">
                                                    <span class="filter-btn btn btn-theme">
                                                        <i class="fa fa-filter"
                                                           aria-hidden="true"></i> Filter
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="product-filter-content">
                                                    <div class="search-count">
                                                        <h5>Showing Products 1-24 of 10 Result</h5>
                                                    </div>
                                                    <div class="collection-view">
                                                        <ul>
                                                            <li><i class="fa fa-th grid-layout-view"></i></li>
                                                            <li><i class="fa fa-list-ul list-layout-view"></i></li>
                                                        </ul>
                                                    </div>
                                                    <div class="collection-grid-view">
                                                        <ul>
                                                            <li><img src="../assets/images/icon/2.png" alt="" class="product-2-layout-view"></li>
                                                            <li><img src="../assets/images/icon/3.png" alt="" class="product-3-layout-view"></li>
                                                            <li><img src="../assets/images/icon/4.png" alt="" class="product-4-layout-view"></li>
                                                            <li><img src="../assets/images/icon/6.png" alt="" class="product-6-layout-view"></li>
                                                        </ul>
                                                    </div>
                                                    <div class="product-page-per-view">
                                                        <select>
                                                            <option value="High to low">
                                                                24 Products Par Page
                                                            </option>
                                                            <option value="Low to High">
                                                                50 Products Par Page
                                                            </option>
                                                            <option value="Low to High">
                                                                100 Products Par Page
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="product-page-filter">
                                                        <select>
                                                            <option value="High to low">Sorting items</option>
                                                            <option value="Low to High">50 Products</option>
                                                            <option value="Low to High">100 Products</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-wrapper-grid">
                                        <div class="row margin-res" id="ItemArea">
                                        </div>
                                    </div>
                                    <div class="product-pagination" id="ItemPagination">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section End -->
@section Styles
{
    <link href="~/custom/css/pagination.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/modules/Helper.js"></script>
    <script src="~/custom/js/pagination.js"></script>
    <script src="~/modules/items-filter.js"></script>
}


